<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <services>
            <service name="ServiceMtk_P1_20180140109.Matematika">
                <clear />
                <endpoint address="http://localhost:1909" binding="basicHttpBinding"
                    bindingConfiguration="" name="EndpointService" contract="ServiceMtk_P1_20180140109.IMatematika" />
                <endpoint binding="mexHttpBinding" bindingConfiguration="" name="EndpointMex"
                    contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:1907" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>